@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

.app {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  background: #FFFFFF;
}

.app-header {
  width: 100%;
  height: 200px;
  background: linear-gradient(15deg, #EFF0D1, #eeef9f 40%, #66BB6A);
}

.company-logo {
  width: 100px;
  height: 100px;
  padding-top: 50%;
}

.logo {
  display:inline-block;
  margin-left: 15%;
}

.title {
  display:inline-block;
  margin-left: 5%;
}

.title-name {
  font-family: 'Work Sans', sans-serif;
  font-size: 70px;
  font-weight: bold;
}

.app-content {
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 3%;
}

.our-product-image {
  width: 200px;
  height: 200px;
}

.our-vision-image {
  width: 200px;
  height: 200px;
}

.contact-us-image {
  width: 200px;
  height: 200px;
}

.left {
  display:inline-block;
  vertical-align: middle;
  width: 15%;
  text-align: left;
  margin-left: 20%;
}

.right {
  display: inline-block;
  margin-left: 10%;
  vertical-align: middle;
}

.information-headers {
  font-family: 'Work Sans', sans-serif;
  font-size: 30px;
}

.information-bodies {
  font-family: 'Work Sans', sans-serif;
  max-width: 400px;
  font-size: 20px;
}

.SnapThat {
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
}

.our-vision {
  margin-bottom: 10%;
  margin-top: 5%;
}

.our-products {
  margin-bottom: 10%;
}

.contact-us {
  margin-bottom: 6%;
}

.app-footer {
  border-top: solid black;
  height: 5%;
  margin-bottom: 1%;
  padding: 2%;
  bottom: 0;
  text-align: center;
}

.mail-icon {
  margin-right: 2%;
  font-size: 30px;
}


@media screen and (max-width: 1150px) {

  .app-header {
    height: 150px;
  }

  .company-logo {
    width: 80px;
    height: 80px;
    padding-top: 40%;
  }

  .logo {
    margin-left: 15%;
  }

  .title-name {
    font-size: 35px;
  }

  .app-content {
    margin-left: 3%;
    margin-right: 3%;
  }

  .our-product-image {
    width: 120px;
    height: 120px;
  }

  .our-vision-image {
    width: 120px;
    height: 120px;
  }

  .contact-us-image {
    width: 120pxrm;
    height: 120px;
  }

  .right {
    margin-left: 7%;
  }

  .information-headers {
    font-size: 20px;
  }

  .information-bodies {
    max-width: 300px;
    font-size: 14px;
  }

  .SnapThat {
    font-size: 14px;
  }
}



@media screen and (max-width: 700px) {

  .app-header {
    height: 120px;
  }

  .company-logo {
    width: 70px;
    height: 70px;
    padding-top: 30%;
  }

  .logo {
    margin-left: 12%;
  }

  .left {
    display: block;
  }

  .right {
    margin-left: 20%;
    display:block;
  }

  .our-vision {
    margin-bottom: 13%;
  }

  .our-products {
    margin-bottom: 13%;
  }

  .contact-us {
    margin-bottom: 15%;
  }
}
